html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,hr,table,caption,th,td,form,input,button{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
   text-decoration: none;
    color: #7d7d7d;
}
.w{
    width: 1000px;
    margin: 0  auto;
}

