
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

body {
    /*height: 4000px;*/
    width: 100%;
    background-color: #efefef;
}
/*顶部栏开始*/
.top {
    overflow: hidden;
}

.samePerBanner {
    width: 1903px;
    height: 64px;
    background-color: #fff;
    position: relative;
    z-index: 999;
}
.topBannerFixedNav {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.nav {
    height: 64px;
    width: 1240px;
    line-height: 64px;
    margin-left: 343px;
    float: left;
}
.nav a {
    float: left;
    height: 64px;
    width: 56px;
    line-height: 64px;
    padding-left: 32px;

}
.nav .mainpage {
    color: #ed8d8d;
}
.nav em {
    position: absolute;
    top: 22px;
    width: 28px;
    height: 28px;
}
.nav .mainpage em {
    left: 346px;
    background: url("../images/ghost.png") -420px -121px no-repeat;
}
.nav .find em {
    left: 432px;
    background: url("../images/ghost.png") -1062px -80px;
}
.nav .find:hover {
    color: #ed8d8d;
}
.nav .find:hover em {
    background: url("../images/ghost.png") -1114px -80px;
}
.nav .range em {
    left: 522px;
    background: url("../images/ghost.png") -1088px -80px;
}
.nav .range:hover {
    color: #ed8d8d;
}
.nav .range:hover em {
    background: url("../images/ghost.png") -1142px -80px;
}
.func {
    float: right;
    height: 64px;
    width: 320px;
    line-height: 64px;
    position: relative;
}
.func input {
    height: 30px;
    width: 190px;
    line-height: 29px;
    border: 0;
    outline-style: none;
    border-radius: 15px;
    background-color: #E9E9E9;
    padding-left: 10px;
}
.func span {
    position: absolute;
    top: 25px;
    right: 128px;
    width: 20px;
    height: 20px;
    background: url("../images/ghost.png") -648px -120px;
    cursor: pointer;
}
.func a {
    height: 64px;
    width: 114px;
    padding-left: 60px;
    color: #000;
}
.func a em {
    position: absolute;
    top: 22px;
    right: 60px;
    width: 24px;
    height: 24px;
    background: url("../images/ghost.png") -468px -120px;
}
.samePerBanner .logo {
    height: 86px;
    width: 268px;
    position: absolute;
    top: 10px;
    left: 0;
    padding-left: 12px;
}
.samePerBanner img {
    float: left;
    margin-right: 10px;
}
.samePerBanner .logoSoc {
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}
.samePerBanner .logoSoc span:nth-child(2) {
    font-size: 20px;
    font-weight: normal;
}
.samePerBanner .logoLeft {
    float: left;
    margin-right: -100px;

}
.samePerBanner .logoLeft a {
    display: block;
    width: 45px;
    height: 30px;
    float: left;
    color: #fff;
    /*text-align: center;*/
    line-height: 30px;
    padding-left: 35px;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 10px;
}
.samePerBanner .logoWeb {
    background-color: #C0993E;
}
.samePerBanner .logoWeb:hover {
    background-color: #d1a94a;
}
.samePerBanner .logoWeb em {
    height: 18px;
    width: 18px;
    position: absolute;
    bottom: 2px;
    left: 132px;
    background: url("../images/ghost.png") -814px -120px;
}
.samePerBanner .logoLoad {
    background-color: #F55555;
}
.samePerBanner .logoLoad em {
    height: 18px;
    width: 18px;
    position: absolute;
    bottom: 1px;
    left: 220px;
    background: url("../images/ghost.png") -872px -120px;
}
.samePerBanner .erweima {
    display: none;
    position: absolute;
    top: 100px;
    left: 164px;
    width: 135px;
    height: 135px;
}
.samePerBanner .erweima img{
    width: 100%;
}

/*顶部栏结束*/
/*轮播图部分开始*/

.wrapTr {
    width: 1903px;
    height: 700px;
    background: url("../images/flower.png");
}
.slideTr {
    position: relative;

}
.slideTr li {
    position: absolute;
    top: 20px;
    left: 690px;
}
.slideTr li img{
    width: 100%;
}
.slideTr li:nth-child(n+4) {
    opacity: 0;
    display: none;

}

/*轮播图部分结束*/



/*=====================李书毅===================*/



/*热门作品开始*/
.hot-works{
    width: 568px;
    height: 35px;
    margin: 30px auto;
    background: url("../images/index_z_c9262fc.png") -423px -82px;
}
/*字体图标开始*/
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:11px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*图标字体结束*/
.page {
    width: 100%;
    overflow: hidden;
}
.page-pic {
    width: 1600px;
    margin: 0 auto;
    position: relative;
    top: 0px;
    left: 0px;
}
.page-pic li {
    float: left;
    width: 300px;
    height: 510px;
    margin: 5px 10px;
    position: relative;
    top:0px;
    left: 0px;
    display: none;
    /*background-color: #fff;*/
}
.page-pic li:hover img {
    animation: imgToBig 1s linear;
}
@keyframes imgToBig {
    0%{transform: scale(1)}
    50%{transform: scale(1.3)}
    100%{transform: scale(1)}
}
.liGrayBox{
    float: left;
    width: 300px;
    height: 510px;
    position: absolute;
    top:0px;
    left: 0px;
    background-color: #666;
    opacity: 0;
}
.txt-info {
    float: left;
}
.pic_info{
    padding-top: 8px;
}
.page .pic_name {
    color: #b6b6b6;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap
}
.author_name em {
    display: inline-block;
    width: 11px;
    height: 11px;
    color: #d2c199;
}
.author_name span {
    color:#d2c199;
    font-size: 12px;
    margin-left: 5px;
}
.hot_level {
    float: right;
    margin-right: 5px;
}
.hot_level em {
    display: block;
    width: 14px;
    height: 18px;
    background:url("../images/index_z_c9262fc.png") -1223px -40px no-repeat;
    margin: 0 auto;
}
.hot_level span {
    color: #f55555;
    font-size: 12px;
    text-align: center;
}
/*热门作品结束*/
/*侧边导航栏开始*/
.right-bar {
    width: 80px;
    height: 270px;
    position: fixed;
    right: 25px;
    bottom:90px;
    font-family: 'Microsoft Yahei';
    display: none;
}
.right-bar a {
    padding: 10px;
    display: block;
    width: 60px;
    height: 60px;
    cursor:pointer;
    margin-bottom:8px ;
    border: 1px solid #ef8e8e;
    border-radius: 8px;
    background-color:#fff;
}
.right-bar em{
    display: block;
    width: 32px;
    height: 32px;
    margin: 5px auto;
}
.right-bar span {
    margin: 0 auto;
    display: block;
    width: 56px;
    height: 19px;
    color: #ef8e8e;
    font-size: 12px;
    text-align: center;
}
.right-bar .contribute em {
    background: url("../images/index_z_c9262fc.png") -1034px -41px;
}
.right-bar .downloadGame em{
    background: url("../images/index_z_c9262fc.png") -1072px -41px;
}
.right-bar .returnTop em {
    background: url("../images/index_z_c9262fc.png") -1186px -41px;
}
.right-bar .game{
    position: absolute;
    bottom: 60px;
    left: -142px;
    width: 139px;
    height: 136px;
    display: none;
    background: url("../images/index_z_c9262fc.png" )-140px 0px;
    padding: 5px;
}
/*侧边导航栏结束*/