/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0; 
}
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none; 
}
ul, ol {
    list-style: none;
}
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "microsoft yahei","SimSun", "宋体";  
}
select, input {
    vertical-align: middle;
}
select, input, textarea {
    font-size: 12px;
    margin: 0;
}
textarea {
    resize: none; 
}
img {
    border: 0;
    vertical-align: middle; 
}
table {
    border-collapse: collapse; 
}
body {
    font: 12px/150% "microsoft yahei",Arial, Verdana, "\5b8b\4f53"; /*unitedCode的写法，宋体的写法*/
    color: #000; 
    background: #fff;
}
.clearfix {
    *zoom: 1; 
}

a {
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}
s, i, em {  
    font-style: normal; 
    text-decoration: none;  
}
.w {
    width: 1200px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.al {
    text-align: left;
}
.ac {
    text-align: center;
}
.ar {
    text-align: right;
}
.hide {
    display: none;
}
.pr {
	position: relative;
}
.pa {
	position: absolute;
}
.clearfix:after {
	content:"";
	display: block;
	clear: both;
	line-height: 0;
	visibility: hidden;
	height: 0;
}
/*css初始化完成*/
/*字体图标*/
@font-face {
    font-family: 'iconfont';
    src: url('../font1/iconfont.eot');
    src: url('../font1/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font1/iconfont.woff') format('woff'),
    url('../font1/iconfont.ttf') format('truetype'),
    url('../font1/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}